<section>
  <form
    name="editGalleryForm"
    ng-submit="editGalleryCtrl.updateGallery()"
    novalidate>
    <fieldset>
      <label for="name">Nombre</label>
      <input type="text" name="name" ng-model="editGalleryCtrl.gallery.name">
    </fieldset>
    <fieldset>
      <label for="description">Description</label>
      <input type="text" name="description" ng-model="editGalleryCtrl.gallery.desc">
    </fieldset>

    <button type="submit" name="submit update">Oopdate</button>
  </form>
</section>
